@import "tailwindcss";

@theme {
    --color-background-light: #f6f7f8;
    --color-background-dark: #1a1a1a;
    --color-accent: #42b883;
    --color-primary-light: #f6f7f8;
    --color-primary-dark: #333;
}

a {
    @apply hover:scale-105 hover:brightness-150 transition text-primary-dark;
}

button {
    @apply hover:scale-105 transition;
}
